In [1]:
%reload_kedro

2023-10-07 21:10:23,907 - kedro.extras.extensions.ipython - INFO - No path argument was provided. Using: C:\Users\Dushku\PycharmProjects\monash-datahack-2023
2023-10-07 21:10:24,032 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2023-10-07 21:10:24,050 - kedro.framework.hooks.manager - INFO - Registered hooks from 1 installed plugin(s): kedro-telemetry-0.2.5
2023-10-07 21:10:24,098 - kedro.extras.extensions.ipython - INFO - ** Kedro project Monash datahack 2023
2023-10-07 21:10:24,098 - kedro.extras.extensions.ipython - INFO - Defined global variable `context`, `session`, `catalog` and `pipelines`

C:\Users\Dushku\PycharmProjects\monash-datahack-2023\venv\lib\site-packages\kedro\framework\context\context.py:344: UserWarning: Credentials not found in your Kedro project config.
No files found in ['C:\\Users\\Dushku\\PycharmProjects\\monash-datahack-2023\\conf\\base', 'C:\\Users\\Dushku\\PycharmProjects\\monash-datahack-2023\\conf\\local'] matching the glob pattern(s): ['credentials*', 'credentials*/**', '**/credentials*']
  warn(f"Credentials not found in your Kedro project config.\n{str(exc)}")

In [2]:
from datetime import datetime 
import pandas as pd

In [3]:
catalog.list()

['raw_data',
 'preprocessed_data_with_type_classification',
 'encoded_data',
 'encoded_data_without_zero_values',
 'companies',
 'reviews',
 'shuttles',
 'data_processing.preprocessed_companies',
 'data_processing.preprocessed_shuttles',
 'model_input_table',
 'data_science.active_modelling_pipeline.regressor',
 'data_science.candidate_modelling_pipeline.regressor',
 'parameters',
 'params:data_science',
 'params:data_science.active_modelling_pipeline',
 'params:data_science.active_modelling_pipeline.model_options',
 'params:data_science.active_modelling_pipeline.model_options.test_size',
 'params:data_science.active_modelling_pipeline.model_options.random_state',
 'params:data_science.active_modelling_pipeline.model_options.features',
 'params:data_science.candidate_modelling_pipeline',
 'params:data_science.candidate_modelling_pipeline.model_options',
 'params:data_science.candidate_modelling_pipeline.model_options.test_size',
 'params:data_science.candidate_modelling_pipeline.model_options.random_state',
 'params:data_science.candidate_modelling_pipeline.model_options.features']

In [4]:
df = catalog.load('raw_data')

2023-10-07 21:10:24,137 - kedro.io.data_catalog - INFO - Loading data from `raw_data` (CSVDataSet)...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71496 entries, 0 to 71495
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              71496 non-null  object
 1   Jurisdiction      71496 non-null  object
 2   Category          71496 non-null  object
 3   Type              54228 non-null  object
 4   Classification    71496 non-null  object
 5   Total type        4901 non-null   object
 6   Stream            71496 non-null  object
 7   Management        71496 non-null  object
 8   Fate              71496 non-null  object
 9   Tonnes            71496 non-null  object
 10  Core or non-core  71496 non-null  object
 11  Sub-stream        71496 non-null  object
 12  Cat. order        71496 non-null  object
 13  Cat. no.          71496 non-null  object
 14  Type order        54234 non-null  object
 15  Type no.          54234 non-null  object
dtypes: object(16)
memory usage: 8.7+ MB

In [6]:
df.head()

,Year,Jurisdiction,Category,Type,Classification,Total type,Stream,Management,Fate,Tonnes,Core or non-core,Sub-stream,Cat. order,Cat. no.,Type order,Type no.
0,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Other disposal,Disposal,"20,186",Core waste,03 C&I core,03 Organics,C3,14 Biosolids,T14
1,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Recycling,Recycling,0,Core waste,03 C&I core,03 Organics,C3,14 Biosolids,T14
2,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,Total,Other disposal,Disposal,"20,186",Core waste,09 Total,03 Organics,C3,14 Biosolids,T14
3,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,Total,Recycling,Recycling,0,Core waste,09 Total,03 Organics,C3,14 Biosolids,T14
4,2020-2021,ACT,Biosolids,NaN,Category,NaN,C&I,Other disposal,Disposal,"20,186",Core waste,03 C&I core,03 Organics,C3,NaN,NaN

In [7]:
df.nunique()

Year                   15
Jurisdiction            9
Category               16
Type                   77
Classification          3
Total type              8
Stream                  4
Management              8
Fate                    6
Tonnes              14723
Core or non-core        2
Sub-stream              9
Cat. order             15
Cat. no.               15
Type order             77
Type no.               77
dtype: int64

In [8]:
# List of columns to exclude
exclude_columns = ['Tonnes']

# Create a dictionary to store unique values for each column
unique_values_dict = {}

# Loop through columns and get unique values
for column in df.columns:
    if column not in exclude_columns:
        unique_values_dict[column] = df[column].unique()

# Print unique values for each column
for column, unique_values in unique_values_dict.items():
    print(f"Unique values for {column}:")
    print(unique_values)
    print()

Unique values for Year:
['2020-2021' '2019-2020' '2018-2019' '2017-2018' '2016-2017' '2015-2016'
 '2014-2015' '2013-2014' '2012-2013' '2011-2012' '2010-2011' '2009-2010'
 '2008-2009' '2007-2008' '2006-2007']

Unique values for Jurisdiction:
['ACT' 'Australia' 'NSW' 'NT' 'Qld' 'SA' 'Tas' 'Vic' 'WA']

Unique values for Category:
['Biosolids' 'Building and demolition materials' 'Glass'
 'Hazardous wastes' 'Metals' 'Mining' 'Organics' 'Paper & cardboard'
 'Plastics' 'Textiles, leather & rubber (excl. tyres)' 'Total'
 'Unclassified materials' 'Mineral processing'
 'Organic primary production' 'Organic processing' 'Ash']

Unique values for Type:
['Biosolids' nan 'Asphalt' 'Bricks, concrete and pavers'
 'Ceramics, tiles and pottery' 'Plasterboard & cement sheeting' 'Rubble'
 'Soil, sand and rock not contaminated above any threshold requiring classification as contaminated soils (N120)'
 'Glass from food and beverage containers' 'Other glass' 'Acids (B)'
 'Alkalis (C)' 'Asbestos (N220)' 'Clinical and pharmaceutical (R)'
 'Contaminated soils (N120)' 'Food-derived hazardous wastes (K100, K110)'
 'Inorganic chemicals (D)' 'Oils (J)' 'Organic chemicals (M)'
 'Organic solvents (G)' 'Other'
 'Other hazardous organic wastes (K140, K190)'
 'Other miscellaneous (other T)' 'Other soil/sludges (other N)'
 'Paints, resins, inks, organic sludges (F)' 'Pesticides (H)'
 'Plating and heat treatment (A)' 'Reactive chemicals (E)' 'Tyres (T140)'
 'Aluminium' 'Iron and steel' 'Non-ferrous metals (ex. aluminium)'
 'Food organics' 'Garden organics' 'Other organics' 'Timber'
 'Certified compostable plastics' 'High density polyethylene (HDPE) (2)'
 'Low density polyethylene (LDPE) (4)' 'Other plastics (7)'
 'Polyethylene terephthalate (PET) (1)' 'Polypropylene (PP) (5)'
 'Polystyrene (PS) (6)' 'Polyvinyl chloride (PVC) (3)' 'Textiles'
 'CSG brines' 'Red mud' 'Bauxite mining' 'Coal mining' 'Copper ore mining'
 'Gold ore mining' 'Iron ore mining' 'Mineral sand mining'
 'Nickel ore mining' 'Oil and gas extraction'
 'Other construction material mining' 'Other metal ore mining'
 'Other non-metallic mineral mining and quarrying'
 'Silver-lead-zinc ore mining' 'Primary production animal waste'
 'Primary production green waste' 'Primary production other organics'
 'Primary production product loss' 'Primary production sludges'
 'Broadacre crops food processing' 'Cotton gin trash'
 'Fisheries food processing' 'Horticulture food processing'
 'Livestock food processing' 'Sugarcane bagasse (available)'
 'Sugarcane mill mud' 'Ash' 'Cardboard' 'Newsprint & magazines'
 'Office paper' 'Polymer coated paperboard'
 'Leather & rubber (excl. tyres)' 'Unclassified materials']

Unique values for Classification:
['Type' 'Category' 'Total']

Unique values for Total type:
[nan 'Biosolids total' 'Hazwaste total' 'Mining waste total'
 'All other waste total' 'Mineral processing waste total'
 'Organic primary production waste total' 'Organic processing waste total'
 'Ash waste total']

Unique values for Stream:
['C&I' 'Total' 'C&D' 'MSW']

Unique values for Management:
['Other disposal' 'Recycling' 'Waste reuse' 'Landfill'
 'Energy from waste facility' 'Treatment' 'Unknown' 'Anaerobic digestion']

Unique values for Fate:
['Disposal' 'Recycling' 'Waste reuse' 'Energy recovery' 'Unknown'
 'Long-term storage']

Unique values for Core or non-core:
['Core waste' 'Non-core waste']

Unique values for Sub-stream:
['03 C&I core' '09 Total' '02 C&D' '01 MSW' '08 C&I (mining)'
 '07 C&I (mineral processing)' '05 C&I (organic primary production)'
 '06 C&I (organic processing)' '04 C&I (electricity generation)']

Unique values for Cat. order:
['03 Organics' '01 Building and demolition materials' '06 Glass'
 '09 Hazardous wastes' '02 Metals' '15 Mining' '04 Paper & cardboard'
 '05 Plastics' '07 Textiles, leather & rubber (excl. tyres)' '11 Total'
 '10 Unclassified materials' '14 Mineral processing'
 '12 Organic primary production' '13 Organic processing' '08 Ash']

Unique values for Cat. no.:
['C3' 'C1' 'C6' 'C9' 'C2' 'C15' 'C4' 'C5' 'C7' 'C11' 'C10' 'C14' 'C12'
 'C13' 'C8']

Unique values for Type order:
['14 Biosolids' nan '01 Asphalt' '02 Bricks, concrete and pavers'
 '03 Ceramics, tiles and pottery' '04 Plasterboard & cement sheeting'
 '05 Rubble'
 '06 Soil, sand and rock not contaminated above any threshold requiring classification as contaminated soils (N120)'
 '27 Glass from food and beverage containers' '28 Other glass'
 '33 Acids (B)' '34 Alkalis (C)' '45 Asbestos (N220)'
 '47 Clinical and pharmaceutical (R)' '44 Contaminated soils (N120)'
 '41 Food-derived hazardous wastes (K100, K110)'
 '35 Inorganic chemicals (D)' '40 Oils (J)' '43 Organic chemicals (M)'
 '38 Organic solvents (G)' '50 Other'
 '42 Other hazardous organic wastes (K140, K190)'
 '49 Other miscellaneous (other T)' '46 Other soil/sludges (other N)'
 '37 Paints, resins, inks, organic sludges (F)' '39 Pesticides (H)'
 '32 Plating and heat treatment (A)' '36 Reactive chemicals (E)'
 '48 Tyres (T140)' '07 Aluminium' '08 Iron and steel'
 '09 Non-ferrous metals (ex. aluminium)' '10 Food organics'
 '11 Garden organics' '13 Other organics' '12 Timber'
 '26 Certified compostable plastics'
 '20 High density polyethylene (HDPE) (2)'
 '22 Low density polyethylene (LDPE) (4)' '25 Other plastics (7)'
 '19 Polyethylene terephthalate (PET) (1)' '23 Polypropylene (PP) (5)'
 '24 Polystyrene (PS) (6)' '21 Polyvinyl chloride (PVC) (3)' '29 Textiles'
 '64 CSG brines' '65 Red mud' '66 Bauxite mining' '67 Coal mining'
 '68 Copper ore mining' '69 Gold ore mining' '70 Iron ore mining'
 '71 Mineral sand mining' '72 Nickel ore mining'
 '73 Oil and gas extraction' '74 Other construction material mining'
 '75 Other metal ore mining'
 '76 Other non-metallic mineral mining and quarrying'
 '77 Silver-lead-zinc ore mining' '52 Primary production animal waste'
 '53 Primary production green waste'
 '54 Primary production other organics'
 '55 Primary production product loss' '56 Primary production sludges'
 '57 Broadacre crops food processing' '58 Cotton gin trash'
 '59 Fisheries food processing' '60 Horticulture food processing'
 '61 Livestock food processing' '62 Sugarcane bagasse (available)'
 '63 Sugarcane mill mud' '31 Ash' '15 Cardboard'
 '16 Newsprint & magazines' '17 Office paper'
 '18 Polymer coated paperboard' '30 Leather & rubber (excl. tyres)'
 '51 Unclassified materials']

Unique values for Type no.:
['T14' nan 'T01' 'T02' 'T03' 'T04' 'T05' 'T06' 'T27' 'T28' 'T33' 'T34'
 'T45' 'T47' 'T44' 'T41' 'T35' 'T40' 'T43' 'T38' 'T50' 'T42' 'T49' 'T46'
 'T37' 'T39' 'T32' 'T36' 'T48' 'T07' 'T08' 'T09' 'T10' 'T11' 'T13' 'T12'
 'T26' 'T20' 'T22' 'T25' 'T19' 'T23' 'T24' 'T21' 'T29' 'T64' 'T65' 'T66'
 'T67' 'T68' 'T69' 'T70' 'T71' 'T72' 'T73' 'T74' 'T75' 'T76' 'T77' 'T52'
 'T53' 'T54' 'T55' 'T56' 'T57' 'T58' 'T59' 'T60' 'T61' 'T62' 'T63' 'T31'
 'T15' 'T16' 'T17' 'T18' 'T30' 'T51']

Attributes Cat. order, Sub-stream and Type order have leading characters for indicing the categories. Extracting these indices

In [9]:
# Columns to clean
columns_to_clean = ['Cat. order', 'Sub-stream', 'Type order']

for column in columns_to_clean:
    
    # Split the values in 'column' by a space and keep only the first part
    df[column] = df[column].str.split(' ').str.get(0)
    
    # Convert the column's data type to integer
    df[column] = df[column].astype(float).astype(pd.Int32Dtype())  

df.head()

,Year,Jurisdiction,Category,Type,Classification,Total type,Stream,Management,Fate,Tonnes,Core or non-core,Sub-stream,Cat. order,Cat. no.,Type order,Type no.
0,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Other disposal,Disposal,"20,186",Core waste,3,3,C3,14,T14
1,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Recycling,Recycling,0,Core waste,3,3,C3,14,T14
2,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,Total,Other disposal,Disposal,"20,186",Core waste,9,3,C3,14,T14
3,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,Total,Recycling,Recycling,0,Core waste,9,3,C3,14,T14
4,2020-2021,ACT,Biosolids,NaN,Category,NaN,C&I,Other disposal,Disposal,"20,186",Core waste,3,3,C3,<NA>,NaN

Attribute Year contains a time range values. These should be converted to datetime values instead.

In [10]:
# Function to split 'Year' and convert it to datetime
def split_and_convert(year_range):
    start_year, end_year = map(int, year_range.split('-'))
    start_date = datetime(start_year, 1, 1)
    end_date = datetime(end_year, 12, 31)
    return start_date, end_date

# Apply the function to create 'Start date' and 'End date' columns
df[['Start date', 'End date']] = df['Year'].apply(split_and_convert).apply(pd.Series)

df.head()

,Year,Jurisdiction,Category,Type,Classification,Total type,Stream,Management,Fate,Tonnes,Core or non-core,Sub-stream,Cat. order,Cat. no.,Type order,Type no.,Start date,End date
0,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Other disposal,Disposal,"20,186",Core waste,3,3,C3,14,T14,2020-01-01,2021-12-31
1,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Recycling,Recycling,0,Core waste,3,3,C3,14,T14,2020-01-01,2021-12-31
2,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,Total,Other disposal,Disposal,"20,186",Core waste,9,3,C3,14,T14,2020-01-01,2021-12-31
3,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,Total,Recycling,Recycling,0,Core waste,9,3,C3,14,T14,2020-01-01,2021-12-31
4,2020-2021,ACT,Biosolids,NaN,Category,NaN,C&I,Other disposal,Disposal,"20,186",Core waste,3,3,C3,<NA>,NaN,2020-01-01,2021-12-31

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71496 entries, 0 to 71495
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              71496 non-null  object
 1   Jurisdiction      71496 non-null  object
 2   Category          71496 non-null  object
 3   Type              54228 non-null  object
 4   Classification    71496 non-null  object
 5   Total type        4901 non-null   object
 6   Stream            71496 non-null  object
 7   Management        71496 non-null  object
 8   Fate              71496 non-null  object
 9   Tonnes            71496 non-null  object
 10  Core or non-core  71496 non-null  object
 11  Sub-stream        71496 non-null  Int32
 12  Cat. order        71496 non-null  Int32
 13  Cat. no.          71496 non-null  object
 14  Type order        54234 non-null  Int32
 15  Type no.          54234 non-null  object
 16  Start date        71496 non-null  datetime64[ns]
 17  End date          71496 non-null  datetime64[ns]
dtypes: Int32(3), datetime64[ns](2), object(13)
memory usage: 9.2+ MB

In [12]:
# Removing commas and converting the Tonnes column's data type to integer
df['Tonnes'] = df['Tonnes'].str.replace(',', '').astype(int)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71496 entries, 0 to 71495
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              71496 non-null  object
 1   Jurisdiction      71496 non-null  object
 2   Category          71496 non-null  object
 3   Type              54228 non-null  object
 4   Classification    71496 non-null  object
 5   Total type        4901 non-null   object
 6   Stream            71496 non-null  object
 7   Management        71496 non-null  object
 8   Fate              71496 non-null  object
 9   Tonnes            71496 non-null  int32
 10  Core or non-core  71496 non-null  object
 11  Sub-stream        71496 non-null  Int32
 12  Cat. order        71496 non-null  Int32
 13  Cat. no.          71496 non-null  object
 14  Type order        54234 non-null  Int32
 15  Type no.          54234 non-null  object
 16  Start date        71496 non-null  datetime64[ns]
 17  End date          71496 non-null  datetime64[ns]
dtypes: Int32(3), datetime64[ns](2), int32(1), object(12)
memory usage: 8.9+ MB

In [14]:
# Removing columns with redundant values
df = df.drop(columns=['Year'])

In [15]:
# Check values of Tonne where Fate has value Recycling
recycling_rows = df[df['Fate'] == 'Recycling']

# Extract the 'Tonne' values for the filtered rows
recycling_tonne_values = recycling_rows['Tonnes']

recycling_tonne_values.describe()

count    2.581600e+04
mean     9.786820e+04
std      5.184613e+05
min      0.000000e+00
25%      0.000000e+00
50%      6.000000e+00
75%      9.000500e+03
max      1.205162e+07
Name: Tonnes, dtype: float64

In [16]:
# Filter rows where attribute Fate has value Recycling
# df = df[df['Fate'] != 'Recycling']

Removing redundant rows where the Tonnes values are classified using broad categories and total values for each category

In [17]:
# Rename columns into "ds" and "Y" with the dates and values respectively.
df = df.rename(columns={'End date': 'ds', 'Tonnes': 'y'})

In [18]:
# Selecting rows where 'Classification' is 'Type' and 'Stream''is not Total
df_type = df[(df['Classification'] == 'Type') & (df['Stream'] != 'Total')]

In [19]:
df_type = df_type[['Jurisdiction', 'Category', 'Type', 'Management', 'Fate', 'y', 'ds', 'Sub-stream']]

In [20]:
df_type.head()

,Jurisdiction,Category,Type,Management,Fate,y,ds,Sub-stream
0,ACT,Biosolids,Biosolids,Other disposal,Disposal,20186,2021-12-31,3
1,ACT,Biosolids,Biosolids,Recycling,Recycling,0,2021-12-31,3
12,ACT,Building and demolition materials,Asphalt,Recycling,Recycling,0,2021-12-31,2
13,ACT,Building and demolition materials,Asphalt,Recycling,Recycling,0,2021-12-31,3
14,ACT,Building and demolition materials,Asphalt,Recycling,Recycling,0,2021-12-31,1

In [21]:
%reload_kedro
catalog.save("preprocessed_data_with_type_classification", df_type)

2023-10-07 21:10:30,210 - kedro.extras.extensions.ipython - INFO - No path argument was provided. Using: C:\Users\Dushku\PycharmProjects\monash-datahack-2023
2023-10-07 21:10:30,281 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2023-10-07 21:10:30,299 - kedro.framework.hooks.manager - INFO - Registered hooks from 1 installed plugin(s): kedro-telemetry-0.2.5
2023-10-07 21:10:30,352 - kedro.extras.extensions.ipython - INFO - ** Kedro project Monash datahack 2023
2023-10-07 21:10:30,353 - kedro.extras.extensions.ipython - INFO - Defined global variable `context`, `session`, `catalog` and `pipelines`
2023-10-07 21:10:30,354 - kedro.io.data_catalog - INFO - Saving data to `preprocessed_data_with_type_classification` (CSVDataSet)...

C:\Users\Dushku\PycharmProjects\monash-datahack-2023\venv\lib\site-packages\kedro\framework\context\context.py:344: UserWarning: Credentials not found in your Kedro project config.
No files found in ['C:\\Users\\Dushku\\PycharmProjects\\monash-datahack-2023\\conf\\base', 'C:\\Users\\Dushku\\PycharmProjects\\monash-datahack-2023\\conf\\local'] matching the glob pattern(s): ['credentials*', 'credentials*/**', '**/credentials*']
  warn(f"Credentials not found in your Kedro project config.\n{str(exc)}")

In [22]:
df.head()

,Jurisdiction,Category,Type,Classification,Total type,Stream,Management,Fate,y,Core or non-core,Sub-stream,Cat. order,Cat. no.,Type order,Type no.,Start date,ds
0,ACT,Biosolids,Biosolids,Type,NaN,C&I,Other disposal,Disposal,20186,Core waste,3,3,C3,14,T14,2020-01-01,2021-12-31
1,ACT,Biosolids,Biosolids,Type,NaN,C&I,Recycling,Recycling,0,Core waste,3,3,C3,14,T14,2020-01-01,2021-12-31
2,ACT,Biosolids,Biosolids,Type,NaN,Total,Other disposal,Disposal,20186,Core waste,9,3,C3,14,T14,2020-01-01,2021-12-31
3,ACT,Biosolids,Biosolids,Type,NaN,Total,Recycling,Recycling,0,Core waste,9,3,C3,14,T14,2020-01-01,2021-12-31
4,ACT,Biosolids,NaN,Category,NaN,C&I,Other disposal,Disposal,20186,Core waste,3,3,C3,<NA>,NaN,2020-01-01,2021-12-31

In [23]:
# Selecting rows where 'Classification' is 'Type' and 'Stream''is not Total
df_total = df[(df['Classification'] == 'Total')]

In [24]:
df_total.head()

,Jurisdiction,Category,Type,Classification,Total type,Stream,Management,Fate,y,Core or non-core,Sub-stream,Cat. order,Cat. no.,Type order,Type no.,Start date,ds
8,ACT,Biosolids,NaN,Total,Biosolids total,C&I,Other disposal,Disposal,20186,Core waste,3,3,C3,<NA>,NaN,2020-01-01,2021-12-31
9,ACT,Biosolids,NaN,Total,Biosolids total,C&I,Recycling,Recycling,0,Core waste,3,3,C3,<NA>,NaN,2020-01-01,2021-12-31
10,ACT,Biosolids,NaN,Total,Biosolids total,Total,Other disposal,Disposal,20186,Core waste,9,3,C3,<NA>,NaN,2020-01-01,2021-12-31
11,ACT,Biosolids,NaN,Total,Biosolids total,Total,Recycling,Recycling,0,Core waste,9,3,C3,<NA>,NaN,2020-01-01,2021-12-31
484,ACT,Hazardous wastes,NaN,Total,Hazwaste total,C&D,Energy from waste facility,Energy recovery,0,Core waste,2,9,C9,<NA>,NaN,2020-01-01,2021-12-31

In [27]:
df_total = df_total[['Jurisdiction', 'Category', 'Type', 'Total type', 'Management', 'Fate', 'y', 'ds', 'Sub-stream']]

In [ ]:
catalog.save("preprocessed_data_with_total_classification", )